<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>初期表示画面</title>
</head>
<body>
    Spring Boot on Azureの世界へようこそ！！テスト用にこの部分を追加しました。<br/><br/>
    
    DBから取得したデータは以下の通りです。<br/>
    Email : <span th:text="${db_email}">email</span><br/>
    Location: <span th:text="${db_location}">location</span><br/>
    interests: <span th:text="${db_interests}">interests</span><br/><br/>
    
    APIから取得したデータは以下の通りです。<br/>
    Email : <span th:text="${api_email}">email</span><br/>
    Location: <span th:text="${api_location}">location</span><br/>
    interests: <span th:text="${api_interests}">interests</span>
</body>
</html>
